<div class="banner panel panel-info">
  <div class="panel-heading">
	<h1><strong>Welcome!</strong></h1>
  </div>
</div>


<!-- Sort by category:
<select ng-model="categoryFilter" name="" id="">
	<option value=""></option>
	<option value="awesome">Awesome</option>
	<option value="cold">Cold</option>
	<option value="dry">Dry</option>
	<option value="hot">Hot</option>
	<option value="lucid">Lucid</option>
	<option value="spring">Spring</option>
	<option value="summer">Summer</option>
</select>

<label for="search">Search by name:
	<input type="text" name="search" ng-model="searchText">
</label> -->

<a class="checkout btn btn-primary btn-lg btn-warning" href="/checkout">Checkout | Items in Cart: {{quantity}} | Cart Subtotal: {{total | currency}}</a>
<!-- <button type="button" class="btn btn-danger">Checkout | Cart: {{quantity}}</button> -->

<!-- <div class="header">
	<div class="teaHead">
		Tea
	</div>
	<div class="infoHead">
		Information
	</div>
</div> -->

<div class="row panel panel-primary" ng-repeat="tea in teas | filter: categoryFilter | filter: searchText">
	<div class="pic">
		<img class="image" ng-src="{{tea.imageUrl}}" alt="">
	</div>

	<div class="itemInfo panel-primary">
		<div class="singleTeaHead panel-heading">
			<div class="teaName panel-title">
				<h2>{{tea.name}}</h2>
			</div>
		</div>
		<div class="panel-body">
			<div class="addDiv">
				<form action="javascript:void(0);">
					<h3>Quantity: </h3>
					<select ng-model="tea.amount" name="amount" id="">
						<option value="" selected hidden />
						<option value="0" ng-selected="true">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
				</form>
					<input class="btn btn-success addBtn" ng-click="addToCart(tea)" type="submit" value="Add to Cart">
			</div>
			<div class="singleTeaInfo otherInfo">
				<h3><strong>Price:</strong> {{tea.displayPrice}}</h3>
				<h4><strong>Ingredients:</strong> <br><br> {{tea.ingredients}}</h4>
				<p><strong>Caffeine Scale:</strong> {{tea.caffeineScale}}</p>
				<p><strong>Rating:</strong> {{tea.rating}}</p>
				<p><strong>In Stock?</strong> {{tea.inStock}}</p>
				<p>
					<strong>Categories:</strong>
					<ul ng-repeat="category in tea.categories">
						<li>{{category}}</li>
					</ul>
				</p>
			</div>
		</div>
	</div>
</div>